
.implement {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
    margin: 0 auto;
    background-color: rgb(251, 252, 254);
}

.implement_image img{
    width: 100%;
    height: auto;
    display: block;
    margin-left: 115px;
    margin-top: 50px;
}
.implement_image {
    flex: 1;
}


.implement_text h2 {
    color: rgb(54, 83, 107);
    font-size: 48px;
    font-family: 'DM Serif Display Regular';
    line-height: 1.2;
    margin: 0 0 12px 0;
}
.implement_text {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 110px;
}

.implement_text p{
    color: rgb(108, 130, 148);
    font-size: 15px;
    font-family: 'Public Sans';;
    line-height: 28px;
max-width: 390px;
margin: 0;
}
.implement {
    display: flex;
    align-items: center;
    width: 1440px;
    background-color: rgb(251, 252, 254);
}

.implement_image img{
    width: 445px;
    height: 284px;
    display: block;
}
.implement_image {
    flex: 1;
}
.implement_text {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.implement_text h1{
    color: rgb(54, 83, 107);
    font-size:56px;
    font-family: 'DM Serif Display serif';
}

.implement_text p{
    color: rgb(108, 130, 148);
    font-size: 15px;
    font-family: 'Public Sans';
    line-height: 1.5;
}

@media (max-width: 768px) {
  .implement {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 40px 20px;
    display: flex;
  }

  .implement_image {
    flex: none;
    width: 100%;
    max-width: 700px;
    height: auto;
    transform: scale(1.1);
    display: flex;
    justify-content: center;
    order: 1;
  }

  .implement_image img {
    width: 90%;
    max-width: 360px;
    margin: 0;  
    margin-left: 27px;            
  }

  .implement_text {
    flex: none;
    margin-left: 0;
    align-items: center;
    text-align: center;
    order: 2;
  }

  .implement_text h2 {
    font-size: 32px;
    line-height: 1.2;
  }

  .implement_text p {
    font-size: 15px;
    line-height: 26px;
    max-width: 320px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .implement {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 60px 30px;
    width: 100%;
  }

  .implement_image {
    flex: none;
    width: 100%;
    display: flex;
    justify-content: center;
    order: 1;
    transform: scale(1.2);
  }

  .implement_image img {
    width: 80%;
    max-width: 440px;
    margin-left: 35px;
  }

  .implement_text {
    flex: none;
    margin-left: 0;
    align-items: center;
    text-align: center;
    order: 2;
  }

  .implement_text h1 {
    font-size: 42px;
  }

  .implement_text p {
    font-size: 15px;
    line-height: 26px;
    max-width: 520px;
  }
}