* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* This is for accessibility purposes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Contact Form Section */

.contact, header {
    background-color: #EDF3F8;
}

.contact h1 {
    text-align: center;
    font-family: var(--font-title);
    font-size: 32px;
    color: var(--color-secondary-title-text);
    letter-spacing: 0.25px;
    width: 327px;
    height: 116px;
    margin: 0 auto;
    font-weight: 300;
    line-height: 36px;
}

.contact-form {
    width: 327px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    font-family: var(--font-text);
    font-size: 15px;
    letter-spacing: 0.12px;
    line-height: 25px;
    color: var(--color-secondary-title-text);
    padding-left: 20px;
}

.contact-form input, .contact-form textarea {
    border: none;
    border-bottom: 1px solid var(--color-secondary-title-text);
    background: transparent;
    padding-bottom: 22px;
    padding-top: 24px;
}

/* Tablet Design */

@media (min-width: 768px) {

}

/* Desktop Design */

@media (min-width: 1440px) {
}