header {
    background-color: var(--color-primary-white);
    /* veliau pekeisti i variables spalvas */
    padding-top: 40px;
    padding-inline: 165px;
    padding-bottom: 75px;
}

header section div.container_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    box-sizing: border-box;
    margin-top: 74px;
}

header div.hero-content {
    width: 546px;
    margin-right: 100px;
}

header div.hero-content h1 {
    width: 100%;
    text-align: left;
    font-family: var(--font-title);
    font-size: 72px;
    color: var(--color-secondary-title-text);
    letter-spacing:  -0.5;
    margin: 10px;
}

header div.hero-content form{
    position: relative;
}

header div.hero-content form input {
    width: 445px;
    height: 48px;
    border-radius: 24px;
    box-sizing: border-box;
    border: 0;
    padding-left: 27px;
    font-family: var(--font-text);
    font-size: 15px;
    font-weight: bold;
    opacity: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

header div.hero-content form button {
    width: 173px;
    height: 48px;
    border-radius: 24px;
    border: 0;
    position: absolute;
    left: 272px;
    font-family: var(--font-text);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--color-primary-pink);
    color: var(--color-primary-white);
}

header p.hero-note {
    padding-left: 27px;
    font-family: var(--font-text);
    color: var(--color-secondary-text);
    font-size: 15px;
}

header p.hero-note a{
    color: var(--color-secondary-text);
    font-weight: bold;
}

header div.hero-visual {
    margin-left: 100px;
    width: 258px;
    height: 499px;
}

header div.hero-visual img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}