/* Global CSS Variables */

:root {
  /* Colors */
  --color-primary-pink: #ba4270;
  --color-primary-white: #fbfcfe;

  --color-secondary-title-text: #36536b;
  --color-secondary-bg: #1b262f;
  --color-secondary-active: #da6d97;
  --color-secondary-text: #6c8294;
  --color-secondary-warning: #ff0000;

  /* Fonts */
  --font-title: "DM Serif Display", Arial, Helvetica, sans-serif;
  --font-text: "Public Sans", Arial, Helvetica, sans-serif;

  /* Hamburger Lines */
  --bar-width: 28px;
  --bar-height: 3px;
  --hamburger-gap: 7px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --foreground: #1b262f;
  --background: #fbfcfe;
  --animation-timing: 200ms ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Navigation Section */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5475rem;
  padding-left: 1.5475rem;
  padding-right: 1.5475rem;
}

.nav__menu {
  display: none;
}

.nav__button {
  display: none;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  right: 1.5475rem;
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: #fbfcfe;
  --background: #1b262f;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  transform-origin: left center;
  border-radius: 1px;
  transition:
    opacity var(--animation-timing),
    width var(--animation-timing),
    rotate var(--animation-timing),
    translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  transition: translate var(--animation-timing);
  translate: 300%;
  margin-top: 0;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + margin + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  width: 80%;
  height: 100%;
  opacity: 1;
}

.sidebar__link a {
  text-decoration: none;
  padding-bottom: 2rem;
  color: var(--color-primary-white);
}

.sidebar__link a:first-child {
  border-top: 2px solid white;
  width: 100%;
  padding-top: 3rem;
}

.sidebar__link {
  padding-top: 8rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-text);
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  opacity: 0.7;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.hamburger__button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.9375rem;
  border-radius: 1.5rem;
  border: none;
  background-color: var(--color-primary-pink);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  /* margin-top: 1rem; */
  font-family: var(--font-text);
  color: #ffffff;
  font-size: 1.0625rem;
  font-weight: 600;
}

/* Ready to Start Section */

.demo_button {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 5rem;
  background-color: #EDF3F8;
}

.demo_button-h3 {
  color: var(--color-secondary-title-text);
  font-family: var(--font-title);
  font-size: 2rem;
  letter-spacing: -0.015625rem;
}

.demo_button_inside {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.demo_button-input {
  padding-left: 1.6875rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.9375rem;
  margin-top: 1rem;
  border-radius: 1.5rem;
  border: none;
  box-shadow: 3px 3px 3px 3px #0000002c;
  font-family: var(--font-text);
  font-size: 1.0625rem;
  font-weight: 600;
}

.demo_button-button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.9375rem;
  border-radius: 1.5rem;
  border: none;
  background-color: var(--color-primary-pink);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
  font-family: var(--font-text);
  color: #ffffff;
  font-size: 1.0625rem;
  font-weight: 600;
}

.demo_button-button:hover {
  background-color: var(--color-secondary-active);
}

/* Footer */

footer {
  background-color: var(--color-secondary-bg);
  color: var(--color-primary-white);
  font-family: var(--font-text);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-height: 375px;
}

.footer__nav {
  padding-top: 2.61rem;
  padding-bottom: 2.5rem;
}

.footer__nav a {
  text-decoration: none;
  color: var(--color-primary-white);
  padding-top: 2rem;
}

.footer__logo svg {
  height: 1.79625rem;
  width: 7.839375rem;
  opacity: 1;
}

.footer__nav__pages {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.social-link svg {
  fill: var(--color-primary-white);
}

.social-link svg:hover {
  fill: var(--color-secondary-active);
}

.footer__nav__pages-text {
  opacity: 0.7;
  font-size: 1.0625rem;
  letter-spacing: 0px;
  line-height: 0px;
  margin-top: 20px;
}

.footer__nav__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  opacity: 1;
}

.footer__nav__pages-text:hover {
  opacity: 1;
}

/* Tablet Design */

@media (min-width: 768px) {
  /* Navigation Section */

  .hamburger-menu {
    display: none;
  }

  .nav {
    padding: 2.5rem;
  }

  .nav__menu {
    display: flex;
    font-family: var(--font-text);
    font-weight: 600;
    font-size: 1.0625rem;
    text-align: center;
    cursor: pointer;
  }

  .nav__menu a {
    text-decoration: none;
    padding-left: 2.5rem;
    color: var(--color-secondary-bg);
    opacity: 0.7;
  }

  .nav__menu a:first-child {
    padding-left: 0px;
  }

  .nav__menu a:hover {
    opacity: 1;
  }

  .nav__button {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.9375rem;
    border-radius: 1.5rem;
    border: none;
    background-color: var(--color-primary-pink);
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: var(--font-text);
    color: var(--color-primary-white);
    font-size: 1.0625rem;
    letter-spacing: 0px;
    font-weight: 600;
    cursor: pointer;
  }

  .nav__button:hover {
    opacity: 0.8;
  }

  /* Ready to Start Section */

  .demo_button {
    padding-left: 10.125rem;
    padding-right: 10.125rem;
    padding-bottom: 5rem;
  }

  .demo_button_inside {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    position: relative;
  }

  .demo_button-h3 {
    color: var(--color-secondary-title-text);
    font-family: var(--font-title);
    font-size: 2rem;
    font-weight: 400;
    display: inline-block;
  }

  .demo_button-input {
    padding-left: 1.6875rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.9375rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 3px 3px 3px 3px #0000002c;
    font-family: var(--font-text);
    font-size: 1.0625rem;
    font-weight: 600;
  }

  .demo_button-button {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.9375rem;
    border-radius: 1.5rem;
    border: none;
    background-color: var(--color-primary-pink);
    margin-top: 1rem;
    font-family: var(--font-text);
    color: #ffffff;
    font-size: 1.0625rem;
    font-weight: 600;
    position: absolute;
    width: 40%;
    right: 0;
    top: 0;
  }

  .demo_button-h3 {
    font-size: 3rem;
    letter-spacing: -0.023125rem;
  }

  /* Footer Section */

  .footer__nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 0rem;
    padding: 2.26625rem;
    align-items: center;
  }

  .footer__nav a {
    text-decoration: none;
    color: var(--color-primary-white);
    padding-top: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }

  .footer__nav__pages {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .footer__nav__pages-text {
    margin-top: 0px;
  }

  .social-link svg {
    fill: var(--color-primary-white);
  }

  .social-link svg:hover {
    fill: var(--color-secondary-active);
  }
}

/* Desktop Design */

@media (min-width: 1440px) {
  /* Navigation Section */

  .nav {
    position: relative;
    padding-left: 10.3125rem;
    padding-right: 10.3125rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 4.02125rem;
    align-items: center;
    padding-top: 2.5475rem;
  }

  .nav__menu {
    display: flex;
    font-family: var(--font-text);
    font-weight: 200;
    font-size: 1.0625rem;
    letter-spacing: 0px;
    text-align: left;
    cursor: pointer;
    letter-spacing: 0;
  }

  .nav__menu a {
    text-decoration: none;
    padding-left: 2rem;
    color: var(--color-secondary-bg);
    font-size: 1.0625rem;
    letter-spacing: 0px;
    opacity: 0.7;
  }

  .nav__menu a:hover {
    opacity: 1;
  }

  .footer__nav__pages a {
    padding-top: 0;
  }

  .footer__nav__pages {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nav__button {
    padding-left: 1.65625rem;
    padding-right: 1.65625rem;
    padding-top: 1rem;
    padding-bottom: 0.9375rem;
    letter-spacing: 0px;
    width: 10.8125rem;
    white-space: nowrap;
    position: absolute;
    right: 10.3125rem;
  }

  /* Ready to Start Section */

  .demo_button {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 10.3125rem;
    padding-right: 10.3125rem;
    padding-bottom: 5rem;
  }

  .demo_button_inside {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
  }

  .demo_button-h3 {
    color: var(--color-secondary-title-text);
    font-family: var(--font-title);
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.023125rem;
    white-space: nowrap;
  }

  .demo_button-input {
    padding-left: 1.6875rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.9375rem;
    margin-top: 0;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 3px 3px 3px 3px #0000002c;
    font-family: var(--font-text);
    font-size: 1.0625rem;
    font-weight: 600;
    width: 27.8125rem;
    cursor: pointer;
  }

  .demo_button-button {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.9375rem;
    border-radius: 1.5rem;
    margin-top: 0;
    border: none;
    background-color: var(--color-primary-pink);
    font-family: var(--font-text);
    color: #ffffff;
    font-size: 1.0625rem;
    font-weight: 600;
    width: 40%;
    right: 0;
    top: 0;
    position: absolute;
    white-space: nowrap;
    cursor: pointer;
  }

  .demo_button-h3 {
    font-size: 3rem;
    letter-spacing: -0.023125rem;
  }

  /* Footer Section */

  .footer__nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 2.375rem;
    padding-top: 2.375rem;
    padding-left: 10.3125rem;
    padding-right: 10.3125rem;
    align-items: center;
  }

  .footer__nav a {
    text-decoration: none;
    color: var(--color-primary-white);
  }

  .footer__nav__pages {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 2.5rem;
  }
  .footer__nav__social {
    padding-bottom: 0rem;
  }
  .footer__nav__pages-text {
    margin-top: 0px;
  }
  .social-link svg {
    fill: var(--color-primary-white);
  }

  .social-link svg:hover {
    fill: var(--color-secondary-active);
  }
}
