/* Global CSS variables */

:root {
  /* Colors */
  --color-primary-pink: #ba4270;
  --color-primary-white: #fbfcfe;

  --color-secondary-title-text: #36536b;
  --color-secondary-bg: #1b262f;
  --color-secondary-active: #da6d97;
  --color-secondary-text: #6c8294;
  --color-secondary-warning: #ff0000;

  /* Fonts */
  --font-title: "DM Serif Display", Arial, Helvetica, sans-serif;
  --font-text: "Public Sans", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

footer {
  background-color: var(--color-secondary-bg);
  color: var(--color-primary-white);
  font-family: var(--font-text);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-height: 353px;
}

.footer__nav {
  padding: 2.61rem;
}

.footer__nav a {
  text-decoration: none;
  color: var(--color-primary-white);
  padding-top: 2rem;
}

.footer__logo svg {
  height: 1.79625rem;
  width: 7.839375rem;
  opacity: 1;
}

.footer__nav__pages {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.social-link svg {
  fill: var(--color-primary-white);
}

.social-link svg:hover {
  fill: var(--color-secondary-active);
}

.footer__nav__pages-text {
  opacity: 0.7;
  font-size: 1rem;
  letter-spacing: 0px;
}

.footer__nav__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  opacity: 1;
  padding-bottom: 3.4375rem;
}

.footer__nav__pages-text:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .footer__nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 0rem;
    align-items: center;
  }

  .footer__nav a {
    text-decoration: none;
    color: var(--color-primary-white);
  }

  .footer__nav__pages {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 40px;
  }

  .footer__nav__social {
    padding-bottom: 2rem;
  }

  .social-link svg {
    fill: var(--color-primary-white);
  }

  .social-link svg:hover {
    fill: var(--color-secondary-active);
  }
}

@media (min-width: 1024px) {
  .footer__nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 0rem;
    padding-left: 10.3125rem;
    padding-right: 10.3125rem;
    align-items: center;
  }

  .footer__nav a {
    text-decoration: none;
    color: var(--color-primary-white);
  }

  .footer__nav__pages {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 40px;
  }

  .footer__nav__social {
    padding-bottom: 2rem;
  }

  .social-link svg {
    fill: var(--color-primary-white);
  }

  .social-link svg:hover {
    fill: var(--color-secondary-active);
  }
}
